html, body, #root, .App {
  overflow: hidden;
  height: 100%;
}

.header {
  width: 100%;
  /*height: 120px;*/
  display: inline-flex;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255,0);
  align-items: center;
}
.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.img {
  width: 160px;
}
.banner {
  background-color: #FCDBD7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu-section {
  display: inline-flex;
}
.item {
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}